.grid{
    display: grid;
    /* grid-template-columns: repeat(4,3fr); */
    grid-template-rows:repeat(1,2fr);
    gap: 1rem;
}
.box{
    color: whitesmoke;
    border:2px solid rgb(141, 132, 125);
    background-color: rgb(65, 5, 44);
    padding: 10px;
}
.box:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}