

.navbar-brand{
  font-family: cursive;
}
/* Navbar Styles */
.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/* Navbar Toggle Button */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #ccc;
}

/* Container Style for App */
.container {
  padding: 20px;
}

.container-fluid {
  max-width: 100%;
}

/* TextForm Styles */
textarea.form-control {
  width: 100%;
  height: 300px;
  resize: none;
  font-size: 16px;
  margin-top: 5px;
}

/* Alert Component Styling */
.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 90%;
  max-width: 500px;
}


/* Dark Mode Specific Styling */
body.dark .container {
  background-color: #1a1a1a;
  color: #ddd;
}

body.dark .form-check-label {
  color: #ddd;
}

body.dark .alert {
  background-color: #333;
  color: #fff;
}


@media (max-width:950px){
/* later */
}