     /*Element selector*/
     p{
        background-color: aqua;
    }
    /* Id selector */
    #para2{
        color: aquamarine;
        background-color: black;
    }
    /* class selector */
    .bgcolor{
        background-color: purple;
    }
    /* Grouping selector */
    .second,.fourth{
        background-color: rgb(255, 0, 123);
        color: 
        rgb(9, 2, 2);
    }
    span,div{
        background-color: rgb(76, 68, 72);
        color: rgb(74, 18, 18);
    }