.container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid salmon;
    background-color: salmon;
    width: 200px;
    height: 200px;
    transition:all 0.5s ease-in-out 0.1s;
  

}
.box:hover{
    transform: rotate(360deg);
    transform:scale(1);
    transform: translateX(300px);
    transform: translateY(300px);
    transform: translate(300px, 300px);
    background-color: rgb(23, 94, 94);
    width: 500px;
    height: 500px;
    border-radius: 10%;
    font-size: 50px;
}